h1,
h2,
h3,
h4,
h5,
h6 {
    color: $c-heading;
    font-family: $heading-font-family;
}

blockquote {
    font-style: italic;
    border-left: 4px solid $c-primary;
    padding: $base-spacing $large-spacing;
}
