// Float
.u-is-pulled-left {
    float: left;
}

.u-is-pulled-right {
    float: right;
}

// Text
.u-has-text-centered {
    text-align: center;
}

.u-has-text-left {
    text-align: left;
}

.u-has-text-right {
    text-align: right;
}
