// Variables

// Spacing
$inuit-global-font-size:    18px !default;
$inuit-global-line-height:  26px !default;
$inuit-global-spacing-unit: 20px !default;

// Typography
$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$heading-font-family: $base-font-family;

// Weights
$weight-normal: 400 !default;
$weight-bold: 700 !default;
$weight-title-normal: 300 !default;
$weight-title-bold: 500 !default;
